fastapi==0.109.0
openai==1.9.0
pinecone-client==3.0.0
python-dotenv==1.0.1
tiktoken==0.5.2
tqdm==4.66.1
uvicorn==0.21.1
llama-index==0.9.26
arxiv==2.1.0
pypdf==3.15.1
beautifulsoup4==4.12.3
redis==4.5.5
psycopg2==2.9.3
